html,
body,
.todo {
  margin: 0;
  padding: 0;
}

.todo {
  list-style-type: none;
}

.todo--show-open .todo__item--closed {
  display: none;
}

.todo--show-closed .todo__item--open {
  display: none;
}

.todo__input,
.todo__item {
  margin: 10px;
}

.todo__item--closed {
  text-decoration: line-through;
}

#addTodo {
  margin-left: 10px;
}
