<div class="todo__filters">
  {% for f in filters %}
    <div key="{{ f.value }}">
      {% mount './filter.js' with {
        value: f.value,
        text: f.text,
        checked: f.isChecked,
        filterTodo: filterTodo,
        selectedFilter: filter
      } %}
    </div>
  {% endfor %}
</div>