/* Customized 'Meyer' Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html,
body,
div,
span,
h1,
p,
a,
ul,
li,
form,
label,
header,
section {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

header,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
