/* font */
$font-body: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial,
  sans-serif;

/* colors */
$color-brand-1: #6eceb2;
$color-brand-2: #424383;
$color-brand-3: #272361;
$color-text: #37454d;
$color-light-1: #5a5a5a;
$color-light-2: #fff;

/* spacing */
$spacing-1: 20px;
$spacing-2: $spacing-1 * 2;
