<div>
  {% if isRenderBottom %}
    {% mount '../todoList' %}
    {% mount '../addTodo' %}
  {% else %}
    {% mount '../addTodo' %}
    {% mount '../todoList' %}
  {% endif %}
  {% if hasFilter %}
    {% mount '../filters' %}
  {% endif %}
</div>